<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Blog from Rob</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">

    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <header>
          <h1 class="demo-logo">A Blog About Stuff</h1>
        </header>
      </div><!-- End Row -->

      <div class="row">
        <section class="span8">
          <article class="row post">
            <h2>Blog Post 1</h2>
            <h4>Rob Brown</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt ante ut dui sagittis elementum. Cras molestie venenatis justo quis gravida. Nam ornare varius mauris, id bibendum dui accumsan eget. Vestibulum eu tortor mi. Morbi feugiat nibh sed ipsum egestas lacinia. Fusce quis arcu elit, in auctor nulla. Phasellus vel augue ac dui accumsan bibendum ac vitae nisi.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt ante ut dui sagittis elementum. Cras molestie venenatis justo quis gravida. Nam ornare varius mauris, id bibendum dui accumsan eget. Vestibulum eu tortor mi. Morbi feugiat nibh sed ipsum egestas lacinia. Fusce quis arcu elit, in auctor nulla. Phasellus vel augue ac dui accumsan bibendum ac vitae nisi.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt ante ut dui sagittis elementum. Cras molestie venenatis justo quis gravida. Nam ornare varius mauris, id bibendum dui accumsan eget. Vestibulum eu tortor mi. Morbi feugiat nibh sed ipsum egestas lacinia. Fusce quis arcu elit, in auctor nulla. Phasellus vel augue ac dui accumsan bibendum ac vitae nisi.</p>
          </article>
        </section>

        <aside class="span4">
          <div class="post">              
            <nav> 
              <ul class="nav-section">
                <hr>
                <li><a href="#">Home</a></li>
                <hr>
                <li><a href="#">Robbrown.co</a></li>
                <hr>
                <li><a href="#">Facebook</a></li>
                <hr>
                <li><a href="#">Twitter</a></li>
                <hr>
                <li><a href="#">LinkedIn</a></li>
                <hr>
                <li><a href="#">GitHub</a></li>
                <hr>
                <li><input type="search" value="Search" /></li>
              </ul>
            </nav>
          </div>
        </aside>
      </div><!-- End Row -->

      <div class="row">
        <div class="comments span4">
          <div class="row post">
            <h2>Add a comment:</h2>
            <form accept-charset="UTF-8" action="/​posts/​1/​comments" class="new_comment" id="new_comment" method="post">
              <div class=​"field">
                <label for="comment_commenter">Commenter</label>
                <br />
                <input id="comment_commenter" name="comment[commenter]" size="30" type="text">
              </div>
              <div class="field">
                <label for="comment_body">Body</label>
                <br />
                <textarea id="comment_body" name="comment[body]" cols="200" rows="5"></textarea>
              </div>
              <div class="actions">
                <input class="btn btn-large" name="commit" type="submit" value="Add Comment" />
              </div>
            </form>
          </div>
        </div><!-- End Comments -->
      </div><!-- End Row -->

    </div><!-- End Container -->
    <!-- <footer>
      <span>Rob Brown</span>
    </footer> -->




  <script src="js/jquery-1.8.2.min.js"></script>
  <script src="js/jquery-ui-1.10.0.custom.min.js"></script>
  <script src="js/jquery.dropkick-1.0.0.js"></script>
  <script src="js/custom_checkbox_and_radio.js"></script>
  <script src="js/custom_radio.js"></script>
  <script src="js/jquery.tagsinput.js"></script>
  <script src="js/bootstrap-tooltip.js"></script>
  <script src="js/jquery.placeholder.js"></script>
  <script src="js/application.js"></script>
  <!--[if lt IE 8]>
    <script src="js/icon-font-ie7.js"></script>
    <script src="js/icon-font-ie7-24.js"></script>
  <![endif]-->
  </body>
  </html>