body {
  background: #bdc3c7;
}
.post {
  border-radius: 5px;
  background: #ecf0f1;
  margin-bottom: 20px;
  padding: 8px;
}
.post p {
  font-size: 16px;
  line-height: 1.4em;
  letter-spacing: 0.1em;
}
.post h2 {
  margin: 0;
  margin-bottom: 5px;
}
nav ul {
  margin: auto;
  text-align: center;
}
.nav-section {
  list-style: none;
}
.nav-section li {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.nav-section li:hover {
  background: #bdc3c7;
  color: #34495e;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.nav-section li:last-child {
  border: 0;
  background: #ecf0f1;
  color: #34495e;
}
button a {
  color: white;
}
a {
  text-decoration: none;
  color: #34495e;
}
a:hover {
  background-color: transparent;
  color: white;
}
input[type="search"]:focus {
  border-color: #34495e;
}
footer {
  text-align: center;
  width: 100%;
}
hr {
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  background: #333333;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(50%, rgba(0, 0, 0, 0.75)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
  background: -moz-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
  background: -ms-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
  background: -o-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
  background: linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.75) 50%, transparent 100%);
}
